.connections-list {
    img {
        max-width: 85px;
    }
}

.list-grid {
    display: flex;
    flex-flow: column;

    @media(min-width: 577px) {
        flex-flow: row wrap;

    }
    @media(min-width: 768px) {
    }

    .card {
        box-shadow: none;
        padding: 0;
        float: none;

        @media(min-width: 577px) {
            width: 50%;
            margin-bottom: 20px;
        }

        @media(min-width: 768px) {
            width: 33.33333%;
        }

        &-inner {
            padding: 0 10px;
            width: 95%;
            margin: 0 auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .name {
            color: $color-blue;
        }
    }

    .image {
        width: 100%;
    }
}