:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: red;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif
    }