/* :root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
} */

body.signout{
  margin: 0;
  text-align: center;  /*centers everuthing inside that doesnt have a width set*/
  font-family: 'Montserrat';
  /* color: #40514E; */
}

#mySidebar{
  background-color: #E8F6EF;
  font-family: "Montserrat-Black";
  line-height: 1.5;
  padding: 15px 10px;
  color: grey;

  /* text-align: left; */
}
.icons{
  padding-left: 29px;
}

.social-icons{
  text-align: center;
  font-size: 18px;
  padding: 5% 2%;
}

.row1-desc{
  padding: 0 2px;
}
.school-logo{
  width: 60%;
  padding: 5% 0;
  margin-left: 20%;
}

.copyright{
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}

.title{
  text-align: center;
}

#home{
  padding-top: 30px;
  font-family: "Montserrat-Black";
  color: grey;
  /* background-color: #E8F6EF; */
}

/* * {
    color: var(--fontColor);
    font-family: helvetica;
} */

p{
  font-family: "Montserrat-Bold";
  text-align: center;
  /* white-space: nowrap;
  text-overflow: ellipsis ellipsis; */
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;

}

/* Considereing Mobile users */
@media screen and (max-width:650px) {
    .column {
    width: 90%;
    display: block;
    }

    .HBCUTJ-logo {
      width: 80%;
      /* padding-left: 10%; */
    }

    .image {
        width: 500px;
        height: 350px;
        width: 50%;
        /* padding: 2% 0; */
        margin-left: 20%;
    }

    p{
      text-align: center;
    }

    .respond-footer{
      padding: 15% 0;
      text-align: center;
    }

    .cancelbtn, .signupbtn {
     width: 100%;
    }

    .bottom_cloud_1, .bottom_cloud_2 {
      display: none;
    }
}

.cancelbtn, .signupbtn {
  /* float: left; */
  width: 18%;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button-signout {
    border: none;
    outline: 0;
    display: inline-block;
    /* padding: 2px; */
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 15%;
}

.button:hover {
    background-color: #555;
}

/* Image class */
.image {
    width: 400px;
    height: 180px;
    width: 60%;
    padding: 5% 0;
    margin-left: 20%;
}

/* the sign out sheet */
.signout-top-container{
  /*margin: 0;*/
  background-color: #E8F6EF;
  position: relative;
  padding: 137px 0;
  margin: 0 auto;

}

.signup-container{
  /*margin: 0;*/
  background-color: #E8F6EF;
  /* position: relative; */
  padding-top: 65px;
  margin: 0 auto;

}

.bottom_cloud{
  position: absolute;
  left : 150px;
  top: 25px;
}
.top_cloud{
  position: absolute;
  right: 150px;
  top: 25px;
}

.mountain{
  width: 50%;
  height: 30%;
}

h1.signout-h1{
  margin: 3px auto 20px auto; /*top left, bottom right*/
  font-family: 'Sacramento', cursive;
  font-size: 300%;
  color: #66BFBF;
}

/* sign up page */

.bottom_cloud_1 {
  position: absolute;
  right: 150px;
  bottom: 15px;
  transform: rotate(180deg)
}

.bottom_cloud_2 {
  position: absolute;
  left: 150px;
  bottom: 15px;
  transform: rotate(180deg)
}


/* .description {
    width: 300px;
    height: 200px;
} */